@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #0d0c0c;

* {
    font-family: Satoshi, JetBrainsMono Nerd Font;
    font-weight: 600;
    font-size: 15px;
    padding: 0;
    margin: 1px;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding: 0 0.52em 0 0.18em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#memory,
#custom-platform-profile {
    padding-left: 0em
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth,
#tray {
    padding-right: 1em 
}
